/* Use these mixins when creating break points for responsive design, or for clearfix on elements.
   Example: 
   @mixin atMedium {
     font-size: 20px;
    } */

@define-mixin atSmall {
    @media (min-width: 375px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 1070px) {
        @mixin-content;
    } 
}

@define-mixin atLarge {
    @media (min-width: 1440px) {
        @mixin-content;
    } 
}

@define-mixin clearfix {
    
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}