html {
  @mixin atSmall {
    background: url("../../assets/images/bg-mobile.svg")no-repeat top fixed;
    background-size: 100%;
    background-color: $mainViolet;
  }
  
  @mixin atLarge {
    background: url("../../assets/images/bg-desktop.svg")no-repeat center center fixed;
    background-size: contain;
    background-color: $mainViolet;
  }
}