html {
  background: url("../../assets/images/bg-mobile.svg")no-repeat top fixed;
  background-color: $mainViolet;
  background-size: 400px;
  
  @mixin atLarge {
    background-size: 100%;
    background-color: $mainViolet;
  }
}