html {
  background: url("../../assets/images/bg-mobile.svg")no-repeat top fixed;
  background-color: $mainViolet;
  background-size: 100%;
  
  @mixin atLarge {
    background: url("../../assets/images/bg-desktop.svg")no-repeat fixed;
    background-color: $mainViolet;
    background-size: contain;
  }
}