.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 35px;

  &__content-1-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-image,
  &__content-header,
  &__content-info {
    width: 100%;
  }

  &__content-header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: 60px;
  }

  &__content-info {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 1.6;
    margin-top: 0;
  }

  &__button {
    color: $mainViolet;
    background-color: #fff;
    padding: 14px 80px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px rgba(86,66,143,1);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
  }
}

@mixin atMedium {
  .container {
    flex-direction: row;
    
    &__content-2-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 70%;
      margin-bottom: 15%;
      padding: 0 2%;
    }

    &__content-image {
      margin: 14px 0 0 40px;
    }

    &__content-header {
      font-size: 2.4em;
    }

    &__content-info {
      font-size: 15px;
    }

    &__content-header,
    &__content-info {
      text-align: left;
    }
  }
}