.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 130px 0;

  &__facebook-icon {
    width: 14px;
    height: 14px;
  }

  &__twitter-icon,
  &__instagram-icon {
    width: 12px;
    height: 12px;
  }

  &__icon-border {
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px 0 0 6px
  }
}