.header {

  @mixin atSmall {
    &__logo {
      width: 135px;
      margin: 35px 0 50px 27px;
    }
  }

  @mixin atLarge {
    &__logo {
      width: 220px;
      margin: 50px 0 85px 70px;
    }
  }
  
}